# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Docker
.data/
postgres_data/

# Environment
.env

# IDE
.vscode/
.idea/
CLAUDE.md
celerybeat-schedule
pytest.ini
tempCodeRunnerFile.py
tests/*
app/_price.py
